button{
    border-color: rgb(47, 13, 85);
    border-style: dotted;
    cursor: pointer;
    color: rgb(179, 215, 236);
    width: 85px;
    font-size: 30px;
    border-radius: 15px;
}
button:hover{
    background-color: rgb(47, 13, 85);
}
body{
    background-color: rgb(47, 13, 85);;
}
h1{
    color: white;
    text-decoration: underline;
}
.logo{
    width: 400px;
	margin-top: 30px;
	border-radius: 230px;
    border-color: orange;
    border-style: solid;
}